.page-home {
    .init {
        text-align: center;
        padding: rem-calc(20px) 5%;
        min-height: rem-calc(640px);
        position: relative;
        background: url("/images/feature-image.png") center / cover no-repeat;
        background-color: #24BDEE;

        .content {
            padding-top: 176px;
            color: $title-color;
        }

        h2 {
            font-weight: 900;
            font-size: 4.5rem;
        }

        p {
            font-size: 2.66rem;
            margin-bottom: 2.66rem;
        }

        span {
            color: #FFF;
            font-size: 1.8rem;
            margin-bottom: 51px;
            display: block;
            font-weight: 300;
        }

        a {
            @include custom-button($secondary-color);
        }
    }

    .logo-bar {
        height: 105px;
        background-color: #F2F2f2;

        img {
            padding: 14px 0;
        }
    }

    .stats {
        height: 250px;
        padding-top: 45px;
        text-align: center;

        h4 {
            font-weight: 300;
            color: #27B4FF;
            font-size: 4.68rem;
        }

        p {
            font-size: 1.37rem;
            color: #686868;
        }
    }

    .messaging-solutions {
        height: 620px;
        @include dashed-border-top(#D8D8D8, 3px, 22px);
        padding: 70px 0;
        

        h3 {
            color: #15638c;
            margin-bottom: 72px;
        }

        h4 {
            color: #27b5ff;
            margin-bottom: 1rem;
            font-weight: 400;
        }

        p {
            font-size: 1.37rem;
            color: #686868;
            line-height: 32px;
        }

        .solution {
            margin: 0 80px 56px;
            position: relative;

            img {
                position: absolute;
                left: -80px;
                top: -9px;
            }
        }
    }

    .carousel {
        height: 860px;
        @include dashed-border-top(#D8D8D8, 3px, 22px);
        padding: 70px 0;

        h3 {
            color: #27B5FF;
            margin-bottom: 44px;
        }

        p {
            font-size: 1.37em;
            color: #686868;
        }

        .carousel-tab {
            background-color: #f2f2f2;
            color: #ccc;
            text-align: center;
            font-size: 32px;
            padding: 10px;
            cursor: pointer;

            > div {
                background-color: white;
                padding: 14px 0;
                border: 1px solid #FFF;
            }

            &.selected, &:hover {
                color: #FFF;
                background-color: #27B5FF;
                position: relative;

                > div {
                    background-color: #27B5FF;
                }
            }

            &.selected {
                // arrow
                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    width: 0;
                    height: 0;
                    left: 50%;
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                    border-top: 12px solid #27b5ff;
                    transform: translateX(-50%);
                }
            }
        }

        .carousel-panels {
            max-width: 1700px;
            margin: 80px auto 0;
            position: relative;

            h3 {
                margin-bottom: .54rem;
            }

            ul {
                font-size: 1.37em;
                color: #686868;
                margin: 30px 0 30px 48px;
                @include custom-bullet;

                > li {
                    margin-bottom: 1rem;
                }
            }

            a {
                font-size: 1.8em;
                padding: .85em 3em;
                border-radius: 6px;
                color: #fff;
                @include fade-on-hover($success-color);
            }

            .arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                &.arrow-left { left: 60px; }
                &.arrow-right { right: 60px; }

                img:active {
                    position: relative;
                    top: 1px;
                    left: 1px;
                }
            }
            
        }

    }

    .premium-features {
        height: 680px;
        @include dashed-border-top(#D8D8D8, 3px, 22px);
        background-color: #FFF;
        padding: 70px 0;

        h3 {
            font-size: 3.35em;
            color: #212121;
        }

        p {
            font-size: 1.67em;
            color: #686868;
            margin-bottom: 52px;
        }

        table {
            thead > tr, th {
                background-color: #2cd7d2;
            }

            th {
                font-size: 1.51em;
                color: #FFF;
                font-weight: 700;
                text-align: center;
                padding: 12px 10px;
            }

            td {
                font-size: 1.17em;
                color: #727272;
                background-color: #FFF;
                text-align: center;
                padding: 0 16px;

                > div {
                    padding: 16px 0;
                }

                &:nth-child(even) {
                    background-color: #F7F7F7;
                    border-right: 1px solid #F1F1F1;
                    border-left: 1px solid #F1F1F1;
                }
            }

            tbody > tr:not(:first-child) > td > div {
                @include dashed-border-top(#D8D8D8, 1px, 8px);
            }
        }
    }

    .integration-partners {
        height: 780px;
        background-color: #F2F2F2;
        padding: 70px 0;

        h3 {
            font-size: 3.35em;
            color: #212121;
        }

        p {
            font-size: 1.67em;
            color: #2cd7d2;
            margin-bottom: 52px;
        }

        .partners {
            margin: 0 auto 52px;

            > div > img { 
                border: 1px solid #dadada;
                background-color: #fff;
                border-radius: 8px;
                margin: 9px;
                box-shadow: 1px 2px 5px 1px #bdbdbd;
            }
        }

        a {
            color: #FFF !important;
            @include custom-button($success-color);
        }

    }

    .try-hugo {
        height: 670px;
        background: url("/images/Footer Cuts.png") center / cover no-repeat;
        background-color: #24BDEE;
        background-blend-mode: color-burn;

        .panda {
            padding: 100px 0;
            text-align: right;
        }

        .details {
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            h3 {
                color: #FFF;
                font-weight: 700;
                font-size: 54px;
            }

            p {
                color: #15638C;
                font-size: 33px;
                padding-bottom: 1rem;
            }

            a {
                @include custom-button($secondary-color);
            }
        }
    }
}
