$title-color: #0D3F58;
$text-color: #4F4F4F;
$addon-color: #1675D7;
$content-max-width: 1160px;

// Mixins
@mixin dashed-border-top($color: #000, $height: 1px, $width: 22px) {
  position: relative;

  &::before {
      content: "";
      background-image: linear-gradient(to right, $color 50%, transparent 50%);
      background-size: $width 100%;
      width: 100%;
      height: $height;
      position: absolute;
      top: 0;
      left: 0;
  }
}

@mixin fade-on-hover($bg-color) {
  &:hover {
      background-color: rgba($bg-color, 0.5);  
  }
}

@mixin custom-button($bg-color) {
  width: 308px;
  margin: 0 auto;
  font-size: 2.3em;
  font-weight: 700;
  padding: .85em 1.4em;
  border-radius: 6px;
  border: 4px solid #fff;
  @include fade-on-hover($bg-color);
}

@mixin custom-bullet {
  list-style: none;

  & li {
      position: relative;

      &::before {
          content: "";
          display: block;
          background: url("/images/bullet.png") no-repeat;
          width: 12px;
          height: 12px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -2rem;
      }
  }
}