@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Hairline.ttf') format('truetype'),;
	font-weight: 100;
    font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Light.ttf') format('truetype'),;
	font-weight: 300;
    font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Regular.ttf') format('truetype'),;
	font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Bold.ttf') format('truetype'),;
	font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Black.ttf') format('truetype'),;
	font-weight: 900;
    font-style: normal;
}

// src
// https://fonts.google.com/specimen/Lato?selection.family=Lato:100,300,400,700,900