<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
        {{ partial "head.html" . }}
  </head>

  <body>
    {{ partial "header.html" . }}

    {{ block "main" . }}

    {{ end }}

    {{ partial "footer.html" . }}
  </body>
</html>
