<footer>
    <a class="company-logo" href="{{ .Site.BaseURL }}">
        <img src="/images/logo-hugo.png">
    </a>
    <div class="copyright">
        &copy; {{ .Site.Params.copyrightHtml }}
    </div>
</footer>

<script type="text/javascript" src="{{ .Site.BaseURL }}dist/main.js"></script>
