<div class="navigation">
    <div class="top-bar">
        <div class="top-bar-left">
            <a class="company-logo" href="{{ .Site.BaseURL }}">
                <img src="/images/logo-hugo.png">
                <h1>{{ .Site.Title }}</h1>
            </a>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <a href="{{ .Site.BaseURL }}services">
                        <span>Services</span>
                    </a>
                </li>
                <li>
                    <a href="{{ .Site.BaseURL }}resources">
                        <span>Resources</span>
                    </a>
                </li>
                <li>
                    <a href="{{ .Site.BaseURL }}signup">
                        <span>Sign up</span>
                    </a>
                </li>
                <li>
                    <a class="button secondary" href="{{ .Site.BaseURL }}signin">
                        <span>Sign In</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


