{{ define "main" }}

<div class="page page-home">
    <section class="init">
        <div class="content">
            <!-- <h1>{{ $.Param "contents.init.title" }}</h1> -->
            <h2>Welcome to Hugo</h2>
            <p>Show off your HTML and CSS skills through Hugo</p>
            <span>Make sure you follow the documentation</span>
            <a href="#" class="button secondary">Good Luck</a>
        </div>
    </section>

    <section class="logo-bar">
        <div class="content">
            <div class="row medium-up-7 medium-collapse">
                <div class="column"><img src="images/burberry.jpg"></div>
                <div class="column"><img src="images/sofitel.jpg"></div>
                <div class="column"><img src="images/mercedes-benz.jpg"></div>
                <div class="column"><img src="images/pandora.jpg"></div>
                <div class="column"><img src="images/tedx.jpg"></div>
                <div class="column"><img src="images/uber.jpg"></div>
                <div class="column"><img src="images/redbull.jpg"></div>
            </div>
        </div>
    </section>

    <section class="stats">
        <div class="row medium-up-4 medium-collapse">
            <div class="column">
                <h4>20,000+</h4>
                <p>Lorem Ipsum is dummy text for the printing and typesetting industry.</p>
            </div>
            <div class="column">
                <h4>900M+</h4>
                <p>Lorem Ipsum is dummy text for the printing and typesetting industry.</p>
            </div>
            <div class="column">
                <h4>100%</h4>
                <p>Lorem Ipsum is dummy text for the printing and typesetting industry.</p>
            </div>
            <div class="column">
                <h4>1,000+</h4>
                <p>Lorem Ipsum is dummy text for the printing and typesetting industry.</p>
            </div>
        </div>
    </section>

    <section class="messaging-solutions">
        <div class="content">
            <div class="text-center">
                <h3>Messaging solutions for every role</h3>
            </div>
            <div class="row medium-up-2 medium-collapse">
                <div class="column">
                    <div class="solution">
                        <img src="/images/sales-marketing.png">
                        <h4>Sales & Marketing</h4>
                        <p>Lorem Ipsum is simply dummy text for the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="solution">
                        <img src="/images/communications.png">
                        <h4>Communications</h4>
                        <p>Lorem Ipsum is simply dummy text for the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="solution">
                        <img src="/images/operations.png">
                        <h4>Operations</h4>
                        <p>Lorem Ipsum is simply dummy text for the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="solution">
                        <img src="/images/development.png">
                        <h4>Development</h4>
                        <p>Lorem Ipsum is simply dummy text for the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="carousel">
        <div class="content">
            <div class="text-center">
                <h3>Send messages online or via or SMS API</h3>
            </div>
            <div class="row medium-up-4">
                <div class="column">
                    <div class="carousel-tab selected">
                        <div>Tab #1</div>
                    </div>
                </div>
                <div class="column">
                    <div class="carousel-tab">
                        <div>Tab #2</div>
                    </div>
                </div>
                <div class="column">
                    <div class="carousel-tab">
                        <div>Tab #3</div>
                    </div>
                </div>
                <div class="column">
                    <div class="carousel-tab">
                        <div>Tab #4</div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="carousel-panels">
            <div class="row medium-collapse">
                <div class="medium-6 column">
                    <div class="graphic">
                        
                    </div>
                </div>
                <div class="medium-6 column">
                    <div class="details">
                        <h3>Spice up your platform</h3>
                        <p>Just your basic Lorem Ipsum</p>
                        <ul>
                            <li>Don’t forget to add the <strong>custom bullet</strong></li>
                            <li>Also don’t forget to follow the font styles</li>
                            <li>This is a bullet test</li>
                            <li>This is a bullet test</li>
                            <li>This is a bullet test</li>
                        </ul>
                        <a href="#" class="button success">Learn More</a>
                    </div>
                </div>
            </div>
            <button type="button" class="arrow arrow-left">
                <img src="/images/arrow-left.png">
            </button>
            <button type="button" class="arrow arrow-right">
                <img src="/images/arrow-right.png">
            </button>
        </div>
    </section>

    <section class="premium-features">
        <div class="content">
            <div class="text-center">
                <h3>Premium Features</h3>
                <p>Lorem Ipsum is simply dummy text for the printing and typesetting industry</p>
            </div>
            <div>
                <table role="grid">
                    <thead>
                        <tr>
                        <th>Column #1</th>
                        <th>Column #2</th>
                        <th>Column #3</th>
                        <th>Column #4</th>
                        <th>Column #5</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td><div>Feature #1</div></td>
                        <td><div>Feature #1</div></td>
                        <td><div>Feature #1</div></td>
                        <td><div>Feature #1</div></td>
                        <td><div>Feature #1</div></td>
                        </tr>
                        <tr>
                        <td><div>Feature #2</div></td>
                        <td><div>Feature #2</div></td>
                        <td><div>Feature #2</div></td>
                        <td><div>Feature #2</div></td>
                        <td><div>Feature #2</div></td>
                        </tr>
                        <tr>
                        <td><div>Feature #3</div></td>
                        <td><div>Feature #3</div></td>
                        <td><div>Feature #3</div></td>
                        <td><div>Feature #3</div></td>
                        <td><div>Feature #3</div></td>
                        </tr>
                        <tr>
                        <td><div>Feature #4</div></td>
                        <td><div>Feature #4</div></td>
                        <td><div>Feature #4</div></td>
                        <td><div>Feature #4</div></td>
                        <td><div>Feature #4</div></td>
                        </tr>
                        <tr>
                        <td><div>Feature #5</div></td>
                        <td><div>Feature #5</div></td>
                        <td><div>Feature #5</div></td>
                        <td><div>Feature #5</div></td>
                        <td><div>Feature #5</div></td>
                        </tr>
                        <tr>
                        <td><div>Feature #6</div></td>
                        <td><div>Feature #6</div></td>
                        <td><div>Feature #6</div></td>
                        <td><div>Feature #6</div></td>
                        <td><div>Feature #6</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="integration-partners">
        <div class="content">
            <div class="text-center">
                <h3>Integration Partners</h3>
                <p>Lorem Ipsum is simply dummy text for the printing and typesetting industry</p>
            </div>
            <div class="row medium-up-5 medium-collapse partners">
                <div class="column"><img src="images/logo-int-google-calendar.png"></div>
                <div class="column"><img src="images/logo-int-facebook.png"></div>
                <div class="column"><img src="images/logo-int-salesforce.png"></div>
                <div class="column"><img src="images/logo-int-mail-chimp.png"></div>
                <div class="column"><img src="images/logo-int-pay-pal.png"></div>
                <div class="column"><img src="images/logo-int-slack.png"></div>
                <div class="column"><img src="images/logo-int-eloqua.png"></div>
                <div class="column"><img src="images/logo-int-zendesk.png"></div>
                <div class="column"><img src="images/logo-int-woo-commerce.png"></div>
                <div class="column"><img src="images/logo-int-pipedrive.png"></div>
            </div>
            <div class="text-center">
                <a href="#" class="button success">See Full List</a>
            </div>
        </div>
    </section>

    <section class="try-hugo">
        <div class="row medium-collapse">
            <div class="medium-6 column">
                <div class="panda">
                    <img src="images/sendsei-orb.png">
                </div>
            </div>
            <div class="medium-6 column">
                <div class="details">
                    <h3>Try Hugo</h3>
                    <p>Just your typical Lorem Ipsum<br> content filter</p>
                    <a href="#" class="button secondary">Request Free Trial</a>
                </div>
            </div>
        </div>
    </section>
</div>

{{ end }}
